[misc]
kmotion_config: /var/lib/kmotion/kmotion_config
motion_config: /var/lib/kmotion/motion_config
kmotion_dbase: var/lib/kmotion/kmotion_dbase
apache2_conf: /var/lib/kmotion/apache2
file_system: /dev/sda1
cull_trigpc: 90

[feed_common]
daemon: off
quiet: on
framerate: 4
quality: 100
webcam_port: 0
webcam_localhost: on
output_normal: on
pre_capture: 3
post_capture: 20
locate: on
gap: 5
width: 320
height: 240

[feed1]
live: yes
name: Outside
videodevice: /dev/video0
input: 0
snapshot_interval: 30
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500
noise_level: 64

[feed2]
live: yes
name: Comp room
videodevice: /dev/video1
input: 0
snapshot_interval: 30
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed3]
live: yes
name: Shed
videodevice: /dev/video2
input: 0
snapshot_interval: 10
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


[feed4]
live: no
name:
videodevice: /dev/video4
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed5]
live: no
name:
videodevice: /dev/video5
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed6]
live: no
name:
videodevice: /dev/video6
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed7]
live: no
name:
videodevice: /dev/video7
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


[feed8]
live: no
name:
videodevice: /dev/video8
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


[feed9]
live: no
name:
videodevice: /dev/video9
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


[feed10]
live: no
name:
videodevice: /dev/video10
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed11]
live: no
name:
videodevice: /dev/video11
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed12]
live: no
name:
videodevice: /dev/video12
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


[feed13]
live: no
name:
videodevice: /dev/video13
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed14]
live: no
name:
videodevice: /dev/video14
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed15]
live: no
name:
videodevice: /dev/video15
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500

[feed16]
live: no
name:
videodevice: /dev/video16
input: 8
snapshot_interval: 300
brightness: 0
contrast: 0
saturation: 0
hue: 0
auto_brightness: off
threshold: 4500


