[misc]
standalone_mode: true
log_level: DEBUG

apache2_config_dir: /var/lib/kmotion/apache2_config
daemons_dir: /var/lib/kmotion/daemons
images_dir: /var/lib/kmotion/images
tmp_dir: /var/lib/kmotion/tmp
tmp_www: /var/lib/kmotion/www

file_system: /dev/sda1
cull_trigpc: 90

[feed1]
name: comp room
snapshot_interval: 300

[feed2]


