[misc]
stand_alone_mode: true
log_level: DEBUG
kmotion_daemons_dir: /var/lib/kmotion/daemons
kmotion_config_dir: /var/lib/kmotion/kmotion_config
kmotion_dbase_dir: /var/lib/kmotion/kmotion_dbase
motion_config_dir: /var/lib/kmotion/motion_config
apache2_config_dir: /var/lib/kmotion/apache2_config
file_system: /dev/sda1
cull_trigpc: 90

[feed1]
name: comp room
snapshot_interval: 300

[feed2]


