[dirs]
images_dir = /home/dave/kmotion/images
www_2.0_dir = /home/dave/kmotion/www_2.0
misc_config_dir = /home/dave/kmotion/misc_config
daemons_dir = /home/dave/kmotion/daemons
apache2_config_dir = /home/dave/kmotion/apache2_config
www_classic_dir = /home/dave/kmotion/www_classic

[storage]
max_size_gb = 5

[www]
www = classic

[misc]
port = 8085

[debug]
log_level = WARNING

[LDAP]
enabled = no
AuthLDAPUrl = ldap://YOURDOMAIN.COM/ou=ENTER,dc=YOUR,dc=DETAILS?uid
